
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%; /*Altura completa: eliminar esto para una altura "automática"*/
    width: 160px; /*Establecer el ancho de la barra lateral*/
    position: fixed; /*Barra lateral fija (permanece en su sitio al desplazar la página)*/
    z-index: 1; /*Hace que permanezca en la parte superior*/
    top: 70px;
    left: 0;
    background-color: green;
    overflow-x: hidden; /*Desactiva el scroll horizontal*/
    padding-top: 20px;
}

/* *************** ENLACES Y BOTÓN DE CIERRE DE SESIÓN DEL MENÚ DE NAVEGACIÓN ***********************/
.sidenav h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/*Cuando se pasa el mouse sobre los enlaces de navegación, cambia su color*/
.sidenav h3:hover {
    color: #ecec81;
    font-size: 28px;
    cursor: pointer;
}

/*Botón de cierre de sesión del panel del administrador*/
#cierreSesionAdmin{
    width: 150px;
    margin: 50px 5px auto 5px;
}

/*En pantallas más pequeñas, donde la altura es inferior a 450 px, cambie el estilo de la barra lateral
(menos relleno y un tamaño de fuente más pequeño)*/
@media screen and (max-width: 850px){
    .sidenav {padding-top: 15px;}

    #navegador{display: flex;
        flex-direction: column;
        align-items: flex-start}

    .navbar h3{font-size: 16px;}

    img{position: absolute;
        top: 600px;
        left: 12%}

    #nombreAdmin, #fechaHoraAdmin{font-size: 14px}

    .sidenav a {font-size: 18px;}
}