
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%; /*Altura completa: eliminar esto para una altura "automática"*/
    width: 160px; /*Establecer el ancho de la barra lateral*/
    position: fixed; /*Barra lateral fija (permanece en su sitio al desplazar la página)*/
    z-index: 1; /*Hace que permanezca en la parte superior*/
    top: 70px;
    left: 0;
    background-color: green;
    overflow-x: hidden; /*Desactiva el scroll horizontal*/
    padding-top: 20px;
}

/* *************** ENLACES Y BOTÓN DE CIERRE DE SESIÓN DEL MENÚ DE NAVEGACIÓN ***********************/
.sidenav h3 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* El primer elemento del sidenav por defecto está seleccionado y tiene subrayado y color */
.sidenav h3:first-child{text-decoration: underline;
    color: #ecec81;
}

/*Cuando se pasa el mouse sobre los enlaces de navegación, cambia su color*/
.sidenav h3:hover {
    color: #ecec81;
    font-size: 28px;
    cursor: pointer;
}

/*Botón de cierre de sesión del panel del administrador*/
#cierreSesionAdmin{
    width: 150px;
    margin: 50px 5px auto 5px;
}

/*En pantallas más pequeñas, donde la altura es inferior a 450 px, cambie el estilo de la barra lateral
(menos relleno y un tamaño de fuente más pequeño)*/
@media screen and (max-width: 850px){
    .sidenav {padding-top: 15px;}

    #navegador{display: flex;
        flex-direction: column;
        align-items: flex-start}

    .navbar h3{font-size: 16px;}

    img{position: absolute;
        top: 600px;
        left: 12%}

    #nombreAdmin, #fechaHoraAdmin{font-size: 14px}

    .sidenav a {font-size: 18px;}
}

/******************************** CONTENEDOR DE TODOS LOS APARTADOS DEL ADMINISTRADOR *****************************/

#contenedorAccionesAdmin{display: grid;
    width: 89.6%;
    height: 91vh;
    background-color: #fafae7;
    position: relative;
    top: 70px;
    left: 160px}

#contenedorAccionesAdmin>article{
    display: grid;
    margin: 5px 5px 5px 5px;
    grid-template-areas: "titulo titulo"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar"
                         "registro mostrar";
    grid-template-columns: 0.70fr 2.30fr;
    grid-template-rows: 0.05fr;
    column-gap: 10px;
    overflow-y: scroll;}

.tituloSeccion{display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    grid-area: titulo;}
.registroSeccion{background-color: greenyellow;
    grid-area: registro;}

#registroSeccionSocios{overflow-y: scroll;}

.muestraSeccion{background-color: gray;
    grid-area: mostrar;}