
*{box-sizing: border-box;}

html{min-height: 100vh}

body {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
}

/*Tamaño del header*/
.navbar-expand-sm{height: 50px;
    background-color: lightgray}

/*Navegador con las diferentes secciones*/
.sidenav {display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; /*Altura completa: eliminar esto para una altura "automática"*/
    width: 100%; /*Establecer el ancho de la barra lateral*/
    position: fixed; /*Barra lateral fija (permanece en su sitio al desplazar la página)*/
    top: 50px;
    background-color: green;
}

/* *************** ENLACES Y BOTÓN DE CIERRE DE SESIÓN DEL MENÚ DE NAVEGACIÓN ***********************/
.sidenav h3 {
    font-size: 25px;
    color: white;
    display: block;
}

/* El primer elemento del sidenav por defecto está seleccionado y tiene subrayado y color */
.sidenav h3:first-child{text-decoration: underline;
    color: #ecec81;
}

/*Cuando se pasa el mouse sobre los enlaces de navegación, cambia su color*/
.sidenav h3:hover {
    color: #ecec81;
    font-size: 28px;
    cursor: pointer;
}

/*Botón de cierre de sesión del panel del administrador*/
#cierreSesionAdmin{
    font-size: 12px;
    width: 100px;
}

/************************** ESTILO DE LOS MENSAJES DE ERROR Y CONFIRMACIÓN ***************************************/

#error{position: absolute;
    top: 90%;
    right: 0;
    min-width: 80%;
    height: 40px;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    z-index: 5;}

#correcto{position: absolute;
    top: 90%;
    right: 0;
    min-width: 80%;
    height: 40px;
    background-color: limegreen;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    z-index: 5;}

.fa.fa-times-circle-o.fa-2x{position: absolute;
    background-color: lightgrey;
    top: 90.5%;
    right: 5px;
    border-radius: 100%;
    z-index: 5;}
/********************************************************************************************************************/
/******************************** CONTENEDOR DE TODOS LOS APARTADOS DEL ADMINISTRADOR *****************************/
/********************************************************************************************************************/

/*Sección principal que contiene todos los articles*/
#contenedorAccionesAdmin{
    background-color: #fafae7;
    height: 600px;
    position: fixed;
    top: 100px}

/********************************************************************************************************************/
/*********************** CONTENEDOR DEL APARTADO DE LOS SOCIOS *******************************/
/********************************************************************************************************************/
#seccionSocios{
    display: grid;
    grid-template: "titulo      titulo" 50px
                   "registro    mostrar" 81vh/
                    250px       auto;
    column-gap: 10px;}

.tituloSeccion{display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    grid-area: titulo;}

#registroSeccionSocios{grid-area: registro;
    background-color: #d6efab;
    overflow-y: scroll;
    overflow-x: hidden}

#formularioRegistroSocios{margin-left: 20px;
    margin-right: -20px}

#mostrarSeccionSocios{grid-area: mostrar;
    background-color: #fffcc2;
    overflow-x: scroll;
    overflow-y: hidden}

#mostrarSeccionSocios table tbody{text-align: center;
    font-size: 14px;
    align-items: center;}
#mostrarSeccionSocios table thead{text-align: center;
    align-items: center;}

/*En pantallas más pequeñas, donde la altura es inferior a 450 px, cambie el estilo del navegador con las secciones
(menos relleno y un tamaño de fuente más pequeño)*/
@media screen and (max-width: 850px){

    #contenedorAccionesAdmin>article:first-child{
        display: grid;
        grid-template: "titulo"     50px
                       "mostrar"    50vh
                       "registro"   31vh/
                        1fr;
        column-gap: 10px;}

    #cierreSesionAdmin{}
    .sidenav{overflow-x: scroll;
        flex-wrap: wrap}

    .sidenav h3 {font-size: 12px;
        margin-right: 5px;
        margin-left: 5px;}

    #navegador{
        align-items: flex-start}

    .navbar h3{font-size: 16px;}

    img{margin-top: -40px}

    #nombreAdmin, #fechaHoraAdmin{font-size: 14px}
}

/* clase que añade un asterisco rojo a los campos requeridos del formulario*/
.is-required:before {
    content: '*';
    font-size: 20px;
    margin-right: 3px;
    color: red;
    font-weight: bold;
}

/* estilo sobre la clase del elemento de borrar y modificar usuario de la tabla de socios */

.fa.fa-trash-o:hover, .fa.fa-pencil-square-o:hover{cursor: pointer;}

/********************************************************************************************************************/
/************************** CONTENEDOR DEL APARTADO DE LOS CLIENTES ******************************************/
/********************************************************************************************************************/


#seccionClientes{display: grid;
    gap: 10px;
    grid-template: "tituloClientes"     50px
                   "mostrarClientes"    100vh/
                    100vw;}

#tituloSeccionClientes{grid-area: tituloClientes;
    background-color: white;
}

#mostrarSeccionClientes{grid-area: mostrarClientes;
    background-color: #fffcc2;
}

#tablaClientes{width: 100%}
/********************************************************************************************************************/
/************************** CONTENEDOR DEL APARTADO DE LAS PARCELAS ******************************************/
/********************************************************************************************************************/

#seccionParcelas{display: grid;
    gap: 10px;
    grid-template: "tituloParcelas"     50px
                   "registroParcelas"   100px
                   "mostrarParcelas"    100vh/
                    100%;}

#tituloSeccionParcelas{grid-area: tituloParcelas;
    background-color: white;
}

#registroSeccionParcelas{grid-area: registroParcelas;
    padding: 5px;
    background-color: #d6efab;
}

#mostrarSeccionParcelas{grid-area: mostrarParcelas;
    background-color: #fffcc2;
}

/********* MENÚ LATERAL DESPLEGABLE PARA MOSTRAR LOS DATOS REFERENTES A LAS PARCELAS Y A LA PRODUCCIÓN ****************/

#seleccionDatosParcelas, #seleccionDatosProd{background-color: #d6efab;}


/************************ TABLA DE MUESTRA DE LAS PARCELAS Y DE LAS PRODUCCIONES **************************************/

#tablaParcelas, #tablaProduccion{font-size: 14px}

/* Botón para limpiar la tabla de las parcelas */
#limpiaTablaParcelas{margin: 20px 120px;}

/********************************************************************************************************************/
/************************** CONTENEDOR DEL APARTADO PRODUCCIÓN ******************************************/
/********************************************************************************************************************/

#seccionProduccion{display: grid;
    gap: 10px;
    grid-template: "tituloProduccion"     50px
                   "registroProduccion"   100px
                   "muestraProduccion"    100vh/
                    100vw;}

#tituloProduccion{grid-area: tituloProduccion;
    background-color: white;
}

#registroProduccion{grid-area: registroProduccion;
    padding: 5px;
    background-color: #d6efab;
}

#mostrarProduccion{grid-area: muestraProduccion;
    background-color: #fffcc2;
}

/* Ticket de impresión con los datos de la remesa de producción  */

#ticketRemesaProd{display: grid;
    gap: 10px;
    background-color: white;
    width: 50%;
    padding: 5px;
    margin: 0 auto auto;
    grid-template: "datosAlmazara"     100px
                   "datosAgricultor"   120px
                   "remesaProducto"    140px
                   "firmasFecha"       120px/
                   100%;
    }

#datosAlmazara {grid-area: datosAlmazara;
    border: 1px solid green;
    font-size: 14px;}

#datosAlmazara hr, #datosAgricultor hr{margin-top: -30px;}

#datosAgricultor {grid-area: datosAgricultor;
    border: 1px solid green;
    font-size: 14px;}

#remesaProducto {grid-area: remesaProducto;
    border: 1px solid green;}

#remesaProducto table{width: 90%;
    margin: auto;}

#remesaProducto table td{border: 1px solid black}

#firmasFecha {grid-area: firmasFecha;
    border: 1px solid green;
    font-size: 14px;}

/* Botones para imprimir o cancelar la impresión del ticket */
#botonesImprimirCancelar{margin-top: -300px;
    width: 200px;
    margin-left: 50px;}

#botonesImprimirCancelar button{width: 100%;}

/* Posicionamiento de la imagen y tabla del ticket */
#imagenTicket{margin-top: -100px;
    margin-left: 450px;
    width: 120px;
    height: 120px;}

#tablaTicket thead{font-size: 16px;}
#tablaTicket tbody td{font-size: 14px;
    text-align: center;
    vertical-align:middle;}
/* Botón de limpiar tabla de muestra de datos de producción */
#limpiarTablaBusquedas{margin-left: 82px;}

/********************************************************************************************************************/
/************************** CONTENEDOR DEL APARTADO DE LA TIENDA ******************************************/
/********************************************************************************************************************/

#seccionTienda{display: grid;
    gap: 10px;
    grid-template: "tituloTienda"     50px
                   "registroTienda"   100px
                   "mostrarTienda"    100vh/
                    100vw;}

#tituloTienda{grid-area: tituloTienda;
    background-color: white;
}

#registroTienda{grid-area: registroTienda;
    padding: 5px;
    background-color: #def2ff;
}

#mostrarTienda{grid-area: mostrarTienda;
    background-color: #dedcdc;
}

/* Apartado de la zona donde se muestra el precio de aceite */
.input-group.mx-5.preciosAceite{width: 580px;}
#registroProducto{margin-left: 130px;}
#spanAove{margin-left: 150px;}
#spanAov{margin-left: 20px;}

/********** Tabla que muestra los productos **********/

#tablaProductos{vertical-align: middle;
    text-align: center;}

.imagenProductoTabla:hover{cursor: pointer;}

/* Inputs que muestran los litros de aceite disponibles */
#mostrarLitosDisponibles{display: block;
    margin-top: -60px;
    margin-right: 50px;
    float: right;
    width: 15%;}

#mostrarLitosDisponibles label{font-weight: bold;}

/********************************************************************************************************************/
/************************** CONTENEDOR DEL APARTADO DE LAS VENTAS ******************************************/
/********************************************************************************************************************/

#seccionVentas{display: grid;
    gap: 10px;
    grid-template: "tituloVentas"     50px
                   "mostrarVentas"    100vh/
                    100vw;}

#tituloVentas{grid-area: tituloVentas;
    background-color: white;
}

#mostrarVentas{grid-area: mostrarVentas;
    background-color: #fffcc2;
}

#tablaVentas{width: 100%}