/*********************************************************************************************************************/
/************************************************ PÁGINA DE LA TIENDA ************************************************/
/*********************************************************************************************************************/

/* Elemento de menú plegado junto al usuario */
.rd-navbar-project-hamburger.datosAdicionales{margin-left: 200px;}

#inicioSesionUsuario{position: absolute;
    z-index: 20;
    width: 100%;}

/* Contenedor que oscurecerá la página cuando salga el elemento de iniciar sesión */
#contenedorOscuro{position: fixed;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: black;
    opacity: 0.7;}

#cuerpoPaginaTienda{display: flex;
    gap: 1%;
    margin-top: 3rem;
    margin-bottom: 3rem;}

/* Línea separadora entre los dos aceites */
.v-line{border-left: 2px solid #88a220;
    height:100%;
    left: 50%;
    top: 650px;
    position: absolute;
}

/* Contenedores de los productos de cada categoría */
.container.contenedorAOVE{
    width: 49.5%;
    float: left;}

.container.contenedorAOV{
    width: 49.5%;
    float: right;}

/* Tarjetas donde se renderizan las imágenes y datos del producto */
.card.tarjetaAOVE, .card.tarjetaAOV{width: 45%;
    margin-bottom: 10px;}

/* Posición y color de los datos de la tarjeta */
.card-img-top{height: 50%}

.card-body .card-title.precio{color: #88a220;}

/* Mensajes para las distintas acciones de la tienda */

#mensajeTienda{position: fixed;
    bottom: 30px;
    right: 15px;
    width: 30%;
    height: 50px;
    border-radius: 5px;
    z-index: 2000;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    overflow: hidden;
    display: none;
    }

.mensajeCorrecto{background-color: #CDFFAE;}

.mensajeErroneo{background-color: #FCA8A8}

/*********************************************************************************************************************/
/******************************************* FIN DE PÁGINA DE LA TIENDA ************************************************/
/*********************************************************************************************************************/

/* ZONA DEL CARRITO DE LA COMPRA */

.eliminaProductoCarrito{float: right;
    color: red;}

.fa.fa-trash-o.fa-1x.basuraProducto{margin-top: 22px;}

.fa.fa-trash-o.fa-1x.basuraProducto:hover{
    cursor: pointer;}

#cabeceraTablaPaginaCarrito{border-bottom: 1px solid #dee2e6;
    min-height: 50px;}

#finalizarCompra{background-color: #88a220;
    width: 50%;
    height: 10%;
    margin-top: 20px;}

#finalizarCompra:hover{cursor:pointer;}

#resultadoFinal{min-height: 300px;}
